.modalWrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.childrenModal {
  width: calc(24rem - 4rem);
  height: 100vh;
  padding: 2rem;

  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  position: absolute;

  background-color: #fff;

  z-index: 999;
}
.hideModal {
  width: 0;
  height: 0;
  display: none;
}
.hideChildren {
  width: 24rem;
  height: 100vh;

  animation-name: moveTOLeft;
  animation-duration: 1s;
  position: absolute;

  background-color: #fff;
  z-index: 999;
}

.modal_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_header h1 {
  font-weight: 700;
  font-size: 24px;
}

.modal_close_btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  cursor: pointer;
}

.modal_close_icon {
  width: 11px;
  height: 11px;
  color: #b5b5b5;
}
.modal_body {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  max-height: 600px;

  overflow-x: hidden;
  overflow-y: scroll;

  margin: 1rem 0;
}
.modal_body::-webkit-scrollbar {
  display: none;
}

.item {
  width: 310px;
  height: 119px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  box-sizing: border-box;
}

.item_title {
  width: 150px;
}

.title {
  font-weight: 400;
  font-size: 14px;
}
.summa {
  font-weight: 700;
  font-size: 14px;
}

@keyframes move {
  from {
    top: 0;
    right: -365px;
  }
  to {
    top: 0;
    right: 0;
  }
}
@keyframes moveTOLeft {
  from {
    top: 0;
    right: 0;
  }
  to {
    top: 0;
    right: -365px;
  }
}